<div class="cards-list">
  
    <div class="card 1">
      <div class="card_image"> <img src="../../../assets/image/blog.png" />

     </div>
      <div class="card_title">
        <p>Social Blog</p>
      </div>
    </div>
    
      <div class="card 2">
      <div class="card_image">
        <img src="../../../assets/image/live.chat.png" />
        </div>
      <div class="card_title ">
        <p>Live consultations</p>
      </div>
    </div>
    
    <div class="card 3">
      <div class="card_image">
        <img src="../../../assets/image/activity.png" />
      </div>
      <div class="card_title">
        <p> Elevation Activities </p>
      </div>
    </div>
      
      <div class="card 4">
      <div class="card_image">
        <img src="../../../assets/image/quiz.png" />
        </div>
      <div class="card_title title-black">
        <p>Assessments</p>
      </div>
      </div>
    
    </div>
