<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    <div class="wrapper">

        <div class="heading" style="font-weight: bold; font-style: inherit;">UnSilenced voices</div>

        <div class="container">
            <img src="https://tse2.mm.bing.net/th?id=OIP.cN-gdHImHGO25PCI4OUzWwHaDt&pid=Api&P=0&w=311&h=156" alt="Avatar">
            <p>Hello. Wanna talk?</p>
            <span class="time-right"><button type="button" class="btn btn-primary">Post</button></span>
        </div>

        <div class="box">
            <p>Lorem aliasry ipsum dolor sits ametans, consectetur adipisicing elitits. Expedita reiciendis itaque placeat thuratu, quasi yiuos repellendus repudiandae deleniti ideas fuga molestiae, alias.</p>
            <div class="content">
                <div class="info">
                    <div class="name">Anonymous201</div>
                </div>
                <div class="image">
                    <img src="https://tse1.explicit.bing.net/th?id=OIP.UNV5zIHPkytcDYuzrGVw-AHaEn&pid=Api&P=0&w=298&h=187" alt="">
                </div>
            </div>
            <!-- <span class="time-right">15:00</span> -->
        </div>
        <div class="box">
            <p>Lorem aliasry ipsum dolor sits ametans, consectetur adipisicing elitits. Expedita reiciendis itaque placeat thuratu, quasi yiuos repellendus repudiandae deleniti ideas fuga molestiae, alias.</p>
            <div class="content">
                <div class="info">
                    <div class="name">Anonymous09</div>
                </div>
                <div class="image">
                    <img src="https://tse2.mm.bing.net/th?id=OIP.HFZeswAB3mCOO2RtmlOoogHaJ4&pid=Api&P=0&w=300&h=300" alt="">
                </div>
            </div>
            <!-- <div class="form-outline">
       <input type="text" id="typeText" class="form-control" />
       <label class="form-label" for="typeText" >Comment</label> <span class="time-right">15:00</span>
     </div> -->
        </div>
        <div class="box">
            <p>Lorem aliasry ipsum dolor sits ametans, consectetur adipisicing elitits. Expedita reiciendis itaque placeat thuratu, quasi yiuos repellendus repudiandae deleniti ideas fuga molestiae, alias.</p>
            <div class="content">
                <div class="info">
                    <div class="name">Anonymous20</div>
                </div>
                <div class="image">
                    <img src="https://tse1.mm.bing.net/th?id=OIP.JufAyIH_OFwR5bOTSp9CngHaEK&pid=Api&P=0&w=304&h=172" alt="">
                </div>
            </div>
        </div>
    </div>

</body>

</html>