<div class="box-container">

    <div class="box">
        <img src="../../../assets/image/f-icon1.png" alt="">
        <h3>Blog</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam minus recusandae autem, repellendus fugit quaerat provident voluptatum non officiis ratione.</p>
        <a href="#" class="btn">read more</a>
    </div>

    <div class="box">
        <img src="../../../assets/image/f-icon2.png" alt="">
        <h3>Psychologists blog</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam minus recusandae autem, repellendus fugit quaerat provident voluptatum non officiis ratione.</p>
        <a href="#" class="btn">read more</a>
    </div>

    <div class="box">
        <img src="../../../assets/image/f-icon3.png" alt="">
        <h3>Get on hold</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam minus recusandae autem, repellendus fugit quaerat provident voluptatum non officiis ratione.</p>
        <a href="#" class="btn">read more</a>
    </div>

</div>

